
body, .form-control, .input-group-text, .custom-select, .list-group-item
{
  background-color: #17181c;
  color:#17a2b8;
}

.card-body, .card-title, .card-text
{
    background-color: #2a2c33;
    color: #ffffff;
}
hr
{
  background-color: #2a2c33;
  color: #2a2c33;
}
h2, text
{
  color: #ffffff;
}
